@tailwind components;
@tailwind utilities;

@layer components {}

@import '~/assets/fonts/index.css';

body {
  -webkit-transition: background-color 700ms linear;
  -moz-transition: background-color 700ms linear;
  -o-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
  font-family: Inter;
}

a {

  &:hover {
    text-decoration: underline;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  display: flex !important;
}

@media (min-width: 640px) {
  .container {
    max-width: 620px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  body {
    zoom: 80%;
  }

  .container {
    max-width: 1120px;
  }
}

@media (min-width: 1536px) {
  body {
    zoom: 100%;
  }

  .container {
    max-width: 1120px;
  }
}